<launch>

  <!-- About move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find javis_pkg)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find javis_pkg)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find javis_pkg)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find javis_pkg)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find javis_pkg)/param/base_local_planner_params.yaml" command="load" />


    <rosparam file="$(find javis_pkg)/param/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find javis_pkg)/param/move_base_params.yaml" command="load" />

    <remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="RosAria/pose"/>

    <param name="move_base/DWAPlannerROS/yaw_goal_tolerance" value="1.0"/>
    <param name="move_base/DWAPlannerROS/xy_goal_tolerance" value="1.0"/>
  </node>

</launch>
